@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  width: 1480px;
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(250, 250, 250);
  font-family: 'Roboto', sans-serif;
}

html, body{
  background-color: rgb(250, 250, 250);
}

.ml-10{
  margin-left: 15rem;
}


.logo {
  font-family: 'MuseoModerno', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 2.2em;
  line-height: 1.1;
}

.logoHome {
  font-family: 'MuseoModerno', sans-serif;
  background: linear-gradient(to right, #d01414, #d58010);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.2em;
  line-height: 1.1;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}z

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
